html {
  background-color: #ddd
}

h1 {
  font-family: 'Bevan', cursive;
  font-weight: normal;
  font-size: 2rem;
  font-style: normal;
  text-decoration: none;
  line-height: 1;
  color: #555
}

ol{
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-size: .9rem;
  list-style-type: none;
  padding: 0;
  line-height: 1.5
}

li {
  font-weight: normal;
}

a {
  color: maroon;
}

a:hover {
  color: red;
}

h2, h3 {
  font-family: 'Bevan', cursive;
  font-weight: normal;
  font-size: 1.5rem;
  font-style: normal;
  text-decoration: none;
  line-height: 1.5;
  color: #555
}

p {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-size: .9rem;
  line-height: 1.5
}

b {
  color: #777;
}

blockquote{
  font-family: georgia, cursive;
  font-style: italic;
  font-size: 1.25rem;
  line-height: 1;
  text-align: left;
}

.quote {
  color: #79756f;
  font-size: 2rem;
}

footer {
  font-family: georgia, cursive;
  font-style: italic;
  color: #79756f;
  font-size: .75rem;
  text-align: right;
}

em{
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.5
}

strong{
  font-style: italic;
  font-weight: normal;
}

ol{
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-size: 1rem;
  list-style-type: lower-roman;
  padding: 0;
  line-height: 1.5
}
