html {
  background-color: #ddd
}

h1 {
  font-family: 'Bevan', cursive;
  font-weight: normal;
  font-size: 2rem;
  font-style: normal;
  text-decoration: none;
  line-height: 1;
  color: #555
}

ol{
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-size: .9rem;
  list-style-type: none;
  padding: 0;
  line-height: 1.5
}

li {
  font-weight: normal;
}

a {
  color: maroon;
}

a:hover {
  color: red;
}

h2, h3 {
  font-family: 'Bevan', cursive;
  font-weight: normal;
  font-size: 1rem;
  font-style: normal;
  text-decoration: none;
  line-height: 2;
  color: #555
}
